@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h2>WELCOME TO EXPENSE TRACKER SYSTEM</h2>
    <p class="lead">Expense Tracker System is an application which can manage your expenses.</p>
    <p class="lead">You can track your daily, weekly, monthly and yearly expenses.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>FEATURES OF EXPENSE TRACKER APP</h3>
        <p>
            You can add the details of your daily expenses and later on you can track how much you have spent based upon a specific period such as
            Weekly, Monthly or Yearly Expenses.
        </p>
        <p>
            It also has the feature to track NECESSARY or UNNECESSARY expenses done by you so that in future you can do some self evaluation of your unnecessary expenses
            and start saving that money.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h3>SAFETY OF YOUR DATA IS OUR TOP PRIORITY</h3>
        <p>We keep your data private and only you have the rights to track your data.</p>
        <p>We keep seperate accounts for all our users.</p>
        <p>User logs in with his/her credentials and manage their individual entries.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

</div>